.clamp-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-top: 8px;
  line-height: normal;
  overflow: hidden;

  @media screen and (min-width: 360px) {
    font-size: 0.875rem;
  }

  @media screen and (min-width: 768px) {
    font-size: 1rem;
  }

  @media screen and (min-width: 1024px) {
    font-size: 1.125rem;
  }
}
