.logos {
  @media screen and (min-width: 360px) {
    padding: 9px 23px 8px 24px;

    & img {
      width: 46px;
    }
  }

  @media screen and (min-width: 480px) {
    padding: 11px 27px 15px 22px;

    & img {
      width: 70px;
    }
  }

  @media screen and (min-width: 768px) {
    padding: 10px 21px 11px;

    & img {
      width: 88px;
    }
  }

  @media screen and (min-width: 1024px) {
    padding: 11px 33px 22px;

    & img {
      width: 100px;
    }
  }

  @media screen and (min-width: 1600px) {
    padding: 63px 86px;

    & img {
      width: 108px;
    }
  }
}

.usaid {
  @media screen and (min-width: 360px) {
    padding: 22px 15px;

    & img {
      width: 63px;
    }
  }

  @media screen and (min-width: 480px) {
    padding: 31px 13px 32px 14px;

    & img {
      width: 80px;
    }
  }

  @media screen and (min-width: 768px) {
    padding: 38px 14px 40px;

    & img {
      width: 103px;
    }
  }

  @media screen and (min-width: 1024px) {
    padding: 38px 24px 40px 21px;

    & img {
      width: 120px;
    }
  }

  @media screen and (min-width: 1600px) {
    padding: 76px 23px;

    & img {
      width: 232px;
    }
  }
}

.zagoriy {
  @media screen and (min-width: 360px) {
    padding: 13px 11px;

    & img {
      width: 71px;
    }
  }

  @media screen and (min-width: 480px) {
    padding: 23px 10px 17px;

    & img {
      width: 96px;
    }
  }

  @media screen and (min-width: 768px) {
    padding: 25px 10px 27px;

    & img {
      width: 111px;
    }
  }

  @media screen and (min-width: 1024px) {
    padding: 25px 22px 27px;

    & img {
      width: 128px;
    }
  }

  @media screen and (min-width: 1600px) {
    padding: 58px 26px;

    & img {
      width: 229px;
    }
  }
}

.paragraph {
  @media screen and (min-width: 360px) {
    padding: 18px 9px;

    & img {
      width: 75px;
    }
  }

  @media screen and (min-width: 480px) {
    padding: 28px 11px 22px 5px;

    & img {
      width: 102px;
    }
  }

  @media screen and (min-width: 768px) {
    padding: 33px 9px 34px 10px;

    & img {
      width: 112px;
    }
  }

  @media screen and (min-width: 1024px) {
    padding: 33px 9px 34px 10px;

    & img {
      width: 140px;
    }
  }

  @media screen and (min-width: 1600px) {
    padding: 76px 26px 77px 27px;

    & img {
      width: 228px;
    }
  }
}

.kiyanochka {
  @media screen and (min-width: 360px) {
    padding: 12px 27px;

    & img {
      width: 39px;
    }
  }

  @media screen and (min-width: 480px) {
    padding: 15px 30px;

    & img {
      width: 57px;
    }
  }

  @media screen and (min-width: 768px) {
    padding: 17px 28px 18px 29px;

    & img {
      width: 74px;
    }
  }

  @media screen and (min-width: 1024px) {
    padding: 17px 40px 18px;

    & img {
      width: 83px;
    }
  }

  @media screen and (min-width: 1600px) {
    padding: 61px 85px 61px 84px;

    & img {
      width: 112px;
    }
  }
}

.molochniy {
  @media screen and (min-width: 360px) {
    padding: 13px 27px 12px 28px;

    & img {
      width: 38px;
    }
  }

  @media screen and (min-width: 480px) {
    padding: 16px 31px 16px 30px;

    & img {
      width: 55px;
    }
  }

  @media screen and (min-width: 768px) {
    padding: 18px 29px 18px 28px;

    & img {
      width: 73px;
    }
  }

  @media screen and (min-width: 1024px) {
    padding: 18px 43px;

    & img {
      width: 80px;
    }
  }

  @media screen and (min-width: 1600px) {
    padding: 70px 93px 71px 94px;

    & img {
      width: 93px;
    }
  }
}

.stoIdei {
  @media screen and (min-width: 360px) {
    padding: 21px 12px 20px;

    & img {
      width: 69px;
    }
  }

  @media screen and (min-width: 480px) {
    padding: 30px 12px;

    & img {
      width: 84px;
    }
  }

  @media screen and (min-width: 768px) {
    padding: 39px 13px 38px 14px;

    & img {
      width: 104px;
    }
  }

  @media screen and (min-width: 1024px) {
    padding: 39px 22px 38px 24px;

    & img {
      width: 117px;
    }
  }

  @media screen and (min-width: 1600px) {
    padding: 76px 38px 84px 37px;

    & img {
      width: 206px;
    }
  }
}

.italiec {
  @media screen and (min-width: 360px) {
    padding: 14px 28px 13px 29px;

    & img {
      width: 36px;
    }
  }

  @media screen and (min-width: 480px) {
    padding: 16px 32px;

    & img {
      width: 52px;
    }
  }

  @media screen and (min-width: 768px) {
    padding: 18px 28px 18px 29px;

    & img {
      width: 74px;
    }
  }

  @media screen and (min-width: 1024px) {
    padding: 21px 45px;
  }

  @media screen and (min-width: 1600px) {
    padding: 68px 83px 66px 90px;

    & img {
      width: 96px;
    }
  }
}

.ednannia {
  @media screen and (min-width: 360px) {
    padding: 13px 22px;

    & img {
      width: 49px;
    }
  }

  @media screen and (min-width: 480px) {
    padding: 17px 25px;

    & img {
      width: 66px;
    }
  }

  @media screen and (min-width: 768px) {
    padding: 19px 17px 18px 18px;

    & img {
      width: 96px;
    }
  }

  @media screen and (min-width: 1024px) {
    padding: 22px 34px;
  }

  @media screen and (min-width: 1600px) {
    padding: 65px 71px 65px 70px;

    & img {
      width: 140px;
    }
  }
}

.vanoivano {
  @media screen and (min-width: 360px) {
    padding: 10px 24px 9px 25px;

    & img {
      width: 44px;
    }
  }

  @media screen and (min-width: 480px) {
    padding: 12px 26px 9px;

    & img {
      width: 63px;
    }
  }

  @media screen and (min-width: 768px) {
    padding: 14px 24px 13px 25px;

    & img {
      width: 82px;
    }
  }

  @media screen and (min-width: 1024px) {
    padding: 16px 39px 18px;

    & img {
      width: 89px;
    }
  }

  @media screen and (min-width: 1600px) {
    padding: 67px 91px 67px 90px;

    & img {
      width: 100px;
    }
  }
}

.ayurveda {
  @media screen and (min-width: 360px) {
    padding: 11px 26px;

    & img {
      width: 41px;
    }
  }

  @media screen and (min-width: 480px) {
    padding: 13px 29px;

    & img {
      width: 59px;
    }
  }

  @media screen and (min-width: 768px) {
    padding: 13px 24px 13px 23px;

    & img {
      width: 83px;
    }
  }

  @media screen and (min-width: 1024px) {
    padding: 17px 41px;
  }

  @media screen and (min-width: 1600px) {
    padding: 67px 90px 68px 91px;

    & img {
      width: 99px;
    }
  }
}

.rud {
  @media screen and (min-width: 360px) {
    padding: 13px 25px 13px 26px;

    & img {
      width: 42px;
    }
  }

  @media screen and (min-width: 480px) {
    & img {
      width: 63px;
    }
  }

  @media screen and (min-width: 768px) {
    padding: 16px 22px 15px;

    & img {
      width: 87px;
    }
  }

  @media screen and (min-width: 1024px) {
    padding: 21px 41px 21px 38px;
  }

  @media screen and (min-width: 1600px) {
    padding: 59px 76px 60px;

    & img {
      width: 129px;
    }
  }
}

.dpm {
  @media screen and (min-width: 360px) {
    padding: 20px 15px 19px 16px;

    & img {
      width: 62px;
    }
  }

  @media screen and (min-width: 480px) {
    padding: 29px 18px 24px 17px;

    & img {
      width: 81px;
    }
  }

  @media screen and (min-width: 768px) {
    padding: 35px 14px 34px 15px;

    & img {
      width: 102px;
    }
  }

  @media screen and (min-width: 1024px) {
    padding: 37px 24px 29px;

    & img {
      width: 119px;
    }
  }

  @media screen and (min-width: 1600px) {
    padding: 76px 37px 77px;

    & img {
      width: 207px;
    }
  }
}

.satori {
  @media screen and (min-width: 360px) {
    padding: 15px 29px 14px 30px;

    & img {
      width: 24px;
    }
  }

  @media screen and (min-width: 480px) {
    padding: 18px 33px 18px 34px;

    & img {
      width: 50px;
    }
  }

  @media screen and (min-width: 768px) {
    padding: 19px 29px 18px 30px;

    & img {
      width: 72px;
    }
  }

  @media screen and (min-width: 1024px) {
    padding: 22px 48px;
  }

  @media screen and (min-width: 1600px) {
    padding: 70px 94px 70px 93px;

    & img {
      width: 94px;
    }
  }
}

.milkbar {
  @media screen and (min-width: 360px) {
    padding: 13px 28px;

    & img {
      width: 37px;
    }
  }

  @media screen and (min-width: 480px) {
    padding: 16px 32px;

    & img {
      width: 53px;
    }
  }

  @media screen and (min-width: 768px) {
    padding: 18px 28px 17px;

    & img {
      width: 75px;
    }
  }

  @media screen and (min-width: 1024px) {
    padding: 20px 46px;
  }

  @media screen and (min-width: 1600px) {
    padding: 70px 94px 71px;

    & img {
      width: 93px;
    }
  }
}

.danit {
  @media screen and (min-width: 360px) {
    padding: 19px 10px;

    & img {
      width: 69px;
    }
  }

  @media screen and (min-width: 480px) {
    padding: 29px 13px;

    & img {
      width: 88px;
    }
  }

  @media screen and (min-width: 768px) {
    padding: 36px 15px;

    & img {
      width: 97px;
    }
  }

  @media screen and (min-width: 1024px) {
    padding: 40px 27px;

    & img {
      width: 112px;
    }
  }

  @media screen and (min-width: 1600px) {
    padding: 81px 30px;

    & img {
      width: 217px;
    }
  }
}

.united_ukrainians {
  @media screen and (min-width: 360px) {
    padding: 12px 14px;

    & img {
      width: 62px;
    }
  }

  @media screen and (min-width: 480px) {
    padding: 22px 18px;

    & img {
      width: 79px;
    }
  }

  @media screen and (min-width: 768px) {
    padding: 26px 14px;

    & img {
      width: 97px;
    }
  }

  @media screen and (min-width: 1024px) {
    padding: 31px 30px;

    & img {
      width: 110px;
    }
  }

  @media screen and (min-width: 1600px) {
    padding: 55px 29px;

    & img {
      width: 217px;
    }
  }
}

.ranok {
  @media screen and (min-width: 360px) {
    padding: 17px 18px;

    & img {
      width: 55px;
    }
  }

  @media screen and (min-width: 480px) {
    padding: 27px 22px;

    & img {
      width: 71px;
    }
  }

  @media screen and (min-width: 768px) {
    padding: 33px 19px;

    & img {
      width: 87px;
    }
  }

  @media screen and (min-width: 1024px) {
    padding: 36px 31px;

    & img {
      width: 103px;
    }
  }

  @media screen and (min-width: 1600px) {
    padding: 71px 39px;

    & img {
      width: 197px;
    }
  }
}

.genesis {
  @media screen and (min-width: 360px) {
    padding: 17px 14px;

    & img {
      width: 58px;
    }
  }

  @media screen and (min-width: 480px) {
    padding: 26px 19px;

    & img {
      width: 78px;
    }
  }

  @media screen and (min-width: 768px) {
    padding: 34px 20px;

    & img {
      width: 87px;
    }
  }

  @media screen and (min-width: 1024px) {
    padding: 35px 29px;

    & img {
      width: 109px;
    }
  }

  @media screen and (min-width: 1600px) {
    padding: 71px 39px;

    & img {
      width: 197px;
    }
  }
}

.naukma {
  @media screen and (min-width: 360px) {
    padding: 3px 16px;

    & img {
      width: 60px;
    }
  }

  @media screen and (min-width: 480px) {
    padding: 9px 23px;

    & img {
      width: 72px;
    }
  }

  @media screen and (min-width: 768px) {
    padding: 13px 19px;

    & img {
      width: 87px;
    }
  }

  @media screen and (min-width: 1024px) {
    padding: 15px 37px;

    & img {
      width: 94px;
    }
  }

  @media screen and (min-width: 1600px) {
    padding: 22px 39px;

    & img {
      width: 197px;
    }
  }
}
