.slick-arrow::before {
  content: '';
}

.hidden {
  visibility: hidden;
}

.slick-home .slick-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  & a {
    margin-top: auto;
  }
  @media screen and (min-width: 360px) {
    max-width: 320px;
    min-height: 324px;
  }
  @media screen and (min-width: 768px) {
    max-width: 219px;
    min-height: 347px;
  }
  @media screen and (min-width: 1024px) {
    max-width: 300px;
    min-height: 441px;
  }
}

.arrow-home {
  @media screen and (min-width: 360px) {
    width: 16px;
    height: 28px;
  }
  @media screen and (min-width: 768px) {
    width: 12px;
    height: 21px;
  }
  @media screen and (min-width: 1024px) {
    width: 16px;
    height: 28px;
  }
  &.slick-next {
    @media screen and (min-width: 360px) {
      top: 32%;
      right: -8px;
    }
    @media screen and (min-width: 768px) {
      top: 50%;
      right: -21px;
    }
    @media screen and (min-width: 1024px) {
      top: 35%;
      right: -33px;
    }
  }
  &.slick-prev {
    @media screen and (min-width: 360px) {
      right: 0;
      left: -8px;
      z-index: 1;
      top: 28%;
    }
    @media screen and (min-width: 768px) {
      top: 47%;
      left: -28px;
    }
    @media screen and (min-width: 1024px) {
      top: 32%;
      left: -35px;
    }
  }
}

.arrow-news {
  @media screen and (min-width: 360px) {
    width: 10px;
    height: 18px;
  }
  @media screen and (min-width: 768px) {
    width: 24px;
    height: 42px;
    top: 49%;
    right: -45px;
  }
  @media screen and (min-width: 1024px) {
    width: 16px;
    height: 28px;
    top: 43%;
    right: 15px;
  }
  @media screen and (min-width: 1600px) {
    width: 24px;
    height: 42px;
    top: 50%;
    right: 230px;
  }
}

.slick-dots {
  @media screen and (min-width: 360px) {
    bottom: -6px;
    padding: 0;
    margin: 0;
    & li {
      width: 5px;
      height: 5px;
      margin: 0 2px;

      & button {
        width: 10px;
        height: 10px;

        &:before {
          font-size: 6px;
          width: 5px;
          height: 5px;
        }
      }
    }
  }
  @media screen and (min-width: 768px) {
    bottom: -15px;
    left: -8px;
    padding: 0;
    margin: 0;
    & li {
      width: 5px;
      height: 5px;
      margin: 0 6px;

      & button {
        width: 10px;
        height: 10px;

        &:before {
          font-size: 12px;
          width: 5px;
          height: 5px;
        }
      }
    }
  }
  @media screen and (min-width: 1600px) {
    bottom: -26px;
    left: -3px;
  }
}
