.slick-arrow::before {
  content: "";
}

.hidden {
  visibility: hidden;
}

.slick-home .slick-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
@media screen and (min-width: 1024px) {
  .slick-home .slick-container p {
    width: 80%;
  }
}
.slick-home .slick-container a {
  margin-top: auto;
}
@media screen and (min-width: 360px) {
  .slick-home .slick-container {
    max-width: 320px;
    min-height: 324px;
  }
}
@media screen and (min-width: 768px) {
  .slick-home .slick-container {
    max-width: 219px;
    min-height: 347px;
  }
}
@media screen and (min-width: 1024px) {
  .slick-home .slick-container {
    max-width: 300px;
    min-height: 441px;
  }
}
@media screen and (min-width: 1600px) {
  .slick-home .slick-container {
    max-width: 436px;
    min-height: 501px;
  }
}

@media screen and (min-width: 360px) {
  .arrow-home {
    width: 16px;
    height: 28px;
  }
}
@media screen and (min-width: 768px) {
  .arrow-home {
    width: 12px;
    height: 21px;
  }
}
@media screen and (min-width: 1024px) {
  .arrow-home {
    width: 16px;
    height: 28px;
  }
}
@media screen and (min-width: 360px) {
  .arrow-home.slick-next {
    top: 32%;
    right: -8px;
  }
}
@media screen and (min-width: 768px) {
  .arrow-home.slick-next {
    top: 50%;
    right: -21px;
  }
}
@media screen and (min-width: 1024px) {
  .arrow-home.slick-next {
    top: 35%;
    right: -33px;
  }
}
@media screen and (min-width: 360px) {
  .arrow-home.slick-prev {
    top: 28%;
    right: 0;
    left: -8px;
    z-index: 1;
  }
}
@media screen and (min-width: 768px) {
  .arrow-home.slick-prev {
    top: 47%;
    left: -28px;
  }
}
@media screen and (min-width: 1024px) {
  .arrow-home.slick-prev {
    top: 32%;
    left: -35px;
  }
}

@media screen and (min-width: 360px) {
  .arrow-news {
    width: 10px;
    height: 18px;
  }
}
@media screen and (min-width: 768px) {
  .arrow-news {
    top: 49%;
    right: -45px;
    width: 24px;
    height: 42px;
  }
}
@media screen and (min-width: 1024px) {
  .arrow-news {
    top: 43%;
    right: 15px;
  }
}
@media screen and (min-width: 1600px) {
  .arrow-news {
    top: 50%;
    right: 230px;
  }
}
@media screen and (min-width: 768px) {
  .arrow-news.slick-prev {
    left: -52px;
  }
}
@media screen and (min-width: 1024px) {
  .arrow-news.slick-prev {
    left: 10px;
  }
}
@media screen and (min-width: 1600px) {
  .arrow-news.slick-prev {
    left: 230px;
  }
}

@media screen and (min-width: 360px) {
  .slick-dots {
    bottom: -6px;
    margin: 0;
    padding: 0;
  }
  .slick-dots li {
    width: 5px;
    height: 5px;
    margin: 0 2px;
  }
  .slick-dots li button {
    width: 10px;
    height: 10px;
  }
  .slick-dots li button::before {
    width: 5px;
    height: 5px;
    font-size: 6px;
  }
}
@media screen and (min-width: 768px) {
  .slick-dots {
    bottom: -15px;
    left: -8px;
    margin: 0;
    padding: 0;
  }
  .slick-dots li {
    width: 5px;
    height: 5px;
    margin: 0 6px;
  }
  .slick-dots li button {
    width: 10px;
    height: 10px;
  }
  .slick-dots li button::before {
    width: 5px;
    height: 5px;
    font-size: 12px;
  }
}
@media screen and (min-width: 1600px) {
  .slick-dots {
    bottom: -26px;
    left: -3px;
  }
}

/*# sourceMappingURL=styles.css.map */
